.content {
  width: 100%;
  padding: 20px;
}

.content--header {
  display: flex;
  align-items: center;
  gap: auto;
  width: 100%;
  flex: 1;
}

.header--title {
  color: #526d82;
  margin-right: auto;
  flex: shrink;
}

.header--activity {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: fit-content;
}

.header-searchbox {
  background: #dde6ed;
  padding: 8px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 220px;
}

.header-searchbox input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
}

.header-searchbox .icon {
  color: #969393;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.notify {
  background: #dde6ed;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.notify .icon {
  font-size: 20px;
  color: #526d82;
  transition: 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*card container*/

.card--container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
}
.card {
}
