.sidebar {
  background-color: #dde6ed; /* Adjust to match your desired grey */
  width: 250px; /* Ensure proper width */
  height: 100vh; /* Full height */
  padding: 20px;
}

/* Menu container */
.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 94vh;
}

/* Logo styles */
.logo {
  text-align: center;
  padding: 20px;
  color: #27374d;
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo-icon {
  font-size: 1.4rem;
}

/* Menu items */
.menu--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #27374d;
}

/* Menu item hover effect */
.menu--list .item:hover {
  background-color: #27374d;
  color: #dde6ed;
}
