.dashboard {
  display: grid;
  gap: 20rem;
}

.dashboard--content {
  background: #fff;
  background: red;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
