.dashboard {
  display: grid;
  gap: 20rem;
}

.dashboard--content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  border: 1px solid red;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
